*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}


/* Body */
body {
    height: 100vh;
    /* This ensures our site displays all the way to the edge of the browser screen */
    opacity: 1;
    /* This and transition affect the page loading fade in effect */
    transition: 3s opacity;
    /* This causes a 3 second fade in */
    letter-spacing: .2vw;
    /* vw is a relative measurement, 1vw is equal to 1% of the viewport width */
    font-family: Avant Garde, Helvetica;
    font-size: 1.5vw;
    overflow-x: hidden;
    /* This prevents the horizontal scroll bar from appearing when the quote is hovered over */
    user-select: none;
    /* This prevents the text on the webpage from being highlighted by the user */
}

/* This section contributes to the fade effect for the page that occurs when the page is loaded */
body {
    margin: 0%;
    /* This ensures our site displays all the way to the edge of the browser screen */
    opacity: 1;
    /* This and transition affect the page loading fade in effect */
    transition: 3s opacity;
    /* This causes a 3 second fade in */
    letter-spacing: .2vw;
    /* vw is a relative measurement, 1vw is equal to 1% of the viewport width */
    font-family: Avant Garde, Helvetica;
    font-size: 1.5vw;
    overflow-x: hidden;
    /* This prevents the horizontal scroll bar from appearing when the quote is hovered over */
}

